table,tr,td{
    border: 3px solid black;
    border-radius: 4px;
    position: relative;
}

table {
    border-collapse: collapse;
    border-style: hidden;
    margin-bottom: 25px;

}

table,tr,td,span,p,img{
      margin: 0 auto;
}

td{
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 160px;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
    position: relative;
}

section{
    margin-left: 390px;
    font-size: 70px;
}

span{
    margin-left: 26px;
    margin-right: 4px;
}



body{
    background-color: cornflowerblue;
}

img{
    height: 50px;
    width: 50px;
}

#player{
    display: none;
}